// Font Sizes
$fontSmall: 0.8125rem; //13px
$fontNormal: 0.875rem; //14px
$fontBig: 1rem; //16px

// Colours 
$btnBlue: #4285f4;
$btnGrey: #f2f2f2;
$text: #5F6368;
$hoverText: #222222;
$hoverBtn: #f8f8f8;
$hoverBorder: #c6c6c6;
$searchBorder: #dfe1e5;
$boxShadow: rgba(32,33,36,.28);